<!DOCTYPE html>
<html>
  <!--HEAD-->
  <%- include('./partials/head') %>
  <body>
    <!-- Navbar (sit on top) -->
    <%- include('./partials/navbar') %>
    
    <div class="ps-row ps-padding-64" id="about">
        <div class="ps-col m6 ps-padding-large ps-hide-small">
          <img
            src="/images/principal.jpg"
            class="ps-round ps-image ps-opacity-min"
            alt="SAbores que enamoran"
            width="600"
            height="750"
          />
        </div>
    
        <div class="ps-col m6 ps-padding-large">
          <h1 class="ps-center">Pimienta & Sal</h1>
          <br />
          <p class="ps-large" style="text-align: center;">
               Platillo no disponible.
               Disculpe las molestias        
          </p>
        </div>
      </div>
    
      <hr />

   

      

      <!-- Footer -->
      <%- include('./partials/footer') %>
    </div>
  </body>
</html>